In [7]:
# Import relevant libaries

import pandas as pd
import os
from pathlib import Path
import openpyxl  # Ensure openpyxl is installed
import numpy as np

## 1. Match df_merged and df_after_standard datates

In [5]:
# Load the df_merged.csv file
data_dir = Path('chat_exports')
df_merged = pd.read_csv(data_dir / 'df_merged.csv', sep=',')
print(f"df_merged shape: {df_merged.shape}")
# Preview the dataset
df_merged.head()

df_merged shape: (45, 50)

,participant_id,created_at,ip_address,device_type,background_submitted_at,q1_age_group,q2_gender,q3_education,q4_employment,q5_nationality,...,q29_tool_easier_task,q30_tool_useful,q31_tool_too_much_info,q32_tool_difficult_focus,q33_results_accurate,q34_results_trust,q35_results_complete,q36_results_relevant,q37_results_useful,q40_purchase_likelihood
0,fe4a79bb-642e-49d8-920a-a5f39035ffe3,2025-11-20 16:22:11.281835+00,"84.17.45.206,84.17.45.206, 99.82.172.145",desktop,2025-11-20 16:23:00.392222+00:00,18-24,Female,High school or below,Student,Indo,...,6,5,7,6,7,5,5,6,7,2
1,151939c4-8aae-490b-92eb-c7d353a4a95c,2025-11-18 18:15:57.927115+00,"193.197.8.143,193.197.8.143, 99.82.163.77",desktop,2025-11-18 18:17:10.869409+00:00,35-44,Male,Master's degree,Employed,Iranian,...,6,7,6,4,4,5,5,5,5,6
2,e2f70344-8588-468c-9dc2-8c2993f5b6c9,2025-11-15 23:28:20.372283+00,"178.84.99.93,178.84.99.93, 3.2.59.182",desktop,2025-11-15 23:29:47.088239+00:00,18-24,Female,Bachelor's degree,Student,Nederland,...,5,5,6,5,3,4,4,6,3,5
3,88584cfe-a550-4209-a1f3-be628bb2647b,2025-11-13 16:29:27.470605+00,"89.92.129.28,89.92.129.28, 99.82.161.171",desktop,2025-11-13 16:30:20.934922+00:00,35-44,Male,Master's degree,Self-employed,French,...,6,6,6,4,5,5,5,5,5,4
4,25e47297-047a-4582-bc17-c13f5b2ef07b,2025-11-13 12:54:47.011689+00,"153.92.90.3,153.92.90.3, 99.82.163.72",mobile,2025-11-13 12:55:37.488309+00:00,18-24,Female,Bachelor's degree,Student,Georgian,...,5,5,4,5,7,7,7,7,7,4

In [6]:
# Load the df_after_standard.xlsx file
df_after_standard = pd.read_excel(data_dir / 'df_after_standard.xlsx')
print(f"df_after_standard shape: {df_after_standard.shape}")
# Preview the dataset
df_after_standard.head()

df_after_standard shape: (45, 26)

,participant_id,q5_nationality,q5_nationality_sd,q6_residence,q6_residence_sd,q10_search_tools,q10_tool_1,q10_tool_2,q10_tool_3,q10_tool_4,...,q13_storage_2_sd,q14_color,q14_color_1_sd,q14_color_2_sd,q14_color_3_sd,q14_color_4_sd,q14_color_5_sd,q15_price,q15_price_euro,q15_price_range
0,fe4a79bb-642e-49d8-920a-a5f39035ffe3,Indo,India,China,China,tiktok,TikTok,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1,359",1359.0,Over €800
1,151939c4-8aae-490b-92eb-c7d353a4a95c,Iranian,Iran,Deutschland,Germany,Google,Google,NaN,NaN,NaN,...,NaN,not mentioned,NaN,NaN,NaN,NaN,NaN,740,740.0,€600-799
2,e2f70344-8588-468c-9dc2-8c2993f5b6c9,Nederland,Netherlands,Nederland,Netherlands,Nederland,Invalid answer,NaN,NaN,NaN,...,NaN,black,Black,NaN,NaN,NaN,NaN,600,600.0,€600-799
3,88584cfe-a550-4209-a1f3-be628bb2647b,French,France,rance,France,Google Search,Google,NaN,NaN,NaN,...,NaN,Black,Black,NaN,NaN,NaN,NaN,1200,1200.0,Over €800
4,25e47297-047a-4582-bc17-c13f5b2ef07b,Georgian,Georgia,Germany,Germany,Amazon,Amazon,NaN,NaN,NaN,...,NaN,White,White,NaN,NaN,NaN,NaN,700,700.0,€600-799

In [8]:
# Concatenate selected columns from df_after_standard into df_merged at specified positions
def insert_after(df, col, new_cols):
    idx = df.columns.get_loc(col) + 1
    for i, new_col in enumerate(new_cols):
        df.insert(idx + i, new_col, df_after_standard[new_col])
    return df
df_concat = df_merged.copy()
df_concat = insert_after(df_concat, "q5_nationality", ["q5_nationality_sd"])
df_concat = insert_after(df_concat, "q6_residence", ["q6_residence_sd"])
df_concat = insert_after(df_concat, "q10_search_tools", ["q10_tool_1", "q10_tool_2", "q10_tool_3", "q10_tool_4"])
df_concat = insert_after(df_concat, "q12_brand_model", ["q12_brand_model_1_sd", "q12_brand_model_2_sd", "q12_brand_only"])
df_concat = insert_after(df_concat, "q13_storage", ["q13_storage_1_sd", "q13_storage_2_sd"])
df_concat = insert_after(df_concat, "q14_color", ["q14_color_1_sd", "q14_color_2_sd", "q14_color_3_sd", "q14_color_4_sd", "q14_color_5_sd"])
df_concat = insert_after(df_concat, "q15_price", ["q15_price_euro", "q15_price_range"])
print(f"df_concat shape: {df_concat.shape}")
df_concat.head()

df_concat shape: (45, 68)

,participant_id,created_at,ip_address,device_type,background_submitted_at,q1_age_group,q2_gender,q3_education,q4_employment,q5_nationality,...,q29_tool_easier_task,q30_tool_useful,q31_tool_too_much_info,q32_tool_difficult_focus,q33_results_accurate,q34_results_trust,q35_results_complete,q36_results_relevant,q37_results_useful,q40_purchase_likelihood
0,fe4a79bb-642e-49d8-920a-a5f39035ffe3,2025-11-20 16:22:11.281835+00,"84.17.45.206,84.17.45.206, 99.82.172.145",desktop,2025-11-20 16:23:00.392222+00:00,18-24,Female,High school or below,Student,Indo,...,6,5,7,6,7,5,5,6,7,2
1,151939c4-8aae-490b-92eb-c7d353a4a95c,2025-11-18 18:15:57.927115+00,"193.197.8.143,193.197.8.143, 99.82.163.77",desktop,2025-11-18 18:17:10.869409+00:00,35-44,Male,Master's degree,Employed,Iranian,...,6,7,6,4,4,5,5,5,5,6
2,e2f70344-8588-468c-9dc2-8c2993f5b6c9,2025-11-15 23:28:20.372283+00,"178.84.99.93,178.84.99.93, 3.2.59.182",desktop,2025-11-15 23:29:47.088239+00:00,18-24,Female,Bachelor's degree,Student,Nederland,...,5,5,6,5,3,4,4,6,3,5
3,88584cfe-a550-4209-a1f3-be628bb2647b,2025-11-13 16:29:27.470605+00,"89.92.129.28,89.92.129.28, 99.82.161.171",desktop,2025-11-13 16:30:20.934922+00:00,35-44,Male,Master's degree,Self-employed,French,...,6,6,6,4,5,5,5,5,5,4
4,25e47297-047a-4582-bc17-c13f5b2ef07b,2025-11-13 12:54:47.011689+00,"153.92.90.3,153.92.90.3, 99.82.163.72",mobile,2025-11-13 12:55:37.488309+00:00,18-24,Female,Bachelor's degree,Student,Georgian,...,5,5,4,5,7,7,7,7,7,4

In [ ]:
# Split q18_important_features into 3 columns and q39_contradictory_info into max columns, keeping originals
import ast
def split_list_column(df, col, prefix, n_cols):
    def parse_list(val):
        if isinstance(val, str):
            try:
                return ast.literal_eval(val)
            except:
                return [val]
        return val
    split_data = df[col].apply(parse_list).apply(lambda x: x if isinstance(x, list) else [x])
    for i in range(n_cols):
        df.insert(df.columns.get_loc(col)+1+i, f"{prefix}_{i+1}", split_data.apply(lambda x: x[i] if i < len(x) else None))
    return df
# For q18_important_features, always split into 3 columns
df_concat = split_list_column(df_concat, "q18_important_features", "q18_feature", 3)
# For q39_contradictory_info, find max items and split accordingly
max_items_q39 = df_concat["q39_contradictory_info"].apply(lambda x: len(ast.literal_eval(x)) if isinstance(x, str) and x.startswith('[') else 1).max()
df_concat = split_list_column(df_concat, "q39_contradictory_info", "q39_info", max_items_q39)
print(f"df_concat shape after splitting: {df_concat.shape}")
df_concat.head()